<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/cadastro.css') }}" type="text/css">
</head>
<body>
<p>Faça já o seu cadastro</p>

<form action="/cadastro" method="post">
    <div class="forms_nome">
        <label>Nome:</label>
        <input type="text" id="nome" />
    </div>
    <div class="forms_email">
        <label>Email:</label>
        <input type="text" id="email" />
    </div>
    <div class="button_pronto">
        <button type="submit">Pronto </button>
    </div>
    <div class="button_apagar">
        <button type="reset">Apagar </button>
    </div>
</body>

</html>