<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro professor</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/cadastro_professor.css') }}" type="text/css">
</head>
<body>
    <div id="form">
        <form action="">
            <h2 class="title">Cadastro Professor</h2>
            <label for="username"></label>
            <div class= "input">
                <input id="username" name="username" placeholder= "nome" type="text">
            </div>
            <label for="email"</label>
            <div class="input">
                 <input id="email" name="email" placeholder="email" type="text">
            <label for="senha"></label>
            <div class="input">
                 <input id ="senha" name="senha" placeholder="senha" type="password">
            </div>
            <div class="input">
                <input id ="confirmar-senha" name="confirmar-senha" placeholder= "confirmar-senha" type="password">
            <label for="confirmar-senha"></label>
            </div>
            <div id="button">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
</body>
</html>