<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="homepage.css">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <style>
    body {
    background-color: white;
}
</style>
</head>
<body>
    <p class="portal">Portal Institucional</p>
    <p>Bem vindo! Confira suas notas aqui</p>
    <a href ="http://127.0.0.1:5000/notas"><button> Notas</button></a>
</body>
<style>
    .portal {
        font-family: Arial;
        font-size: 32px;
        background-color: blue;
        color: black;
</style>
</html>