<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notas</title>
    <style>
    body {
    background-color: white;
}
p1 {
    color: black;
    font: Arial;
    padding: 60px;
}
</style>


</head>
<body>
<p1 style="font-family:courier,arial,helvetica;"> Tabela de notas </p1>

</body>
    <table>
        <tr>
            <th>Matéria</th>
            <th>Nota 1</th>
            <th>Nota 2</th>
            <th>Nota 3</th>
            <th>Média Final</th>
        </tr>
        <tr>
            <td>Engenharia de Conhecimento</td>
            <td>4.0</td>
            <td>5.0</td>
            <td>3.0</td>
            <td>6.5</td>
        </tr>
        <tr>
            <td>Engenharia de Requisitos</td>
            <td>3.0</td>
            <td>5.0</td>
            <td>4.0</td>
            <td>6.5</td>
        </tr>
        <tr>
            <td>Projeto Integrador II</td>
            <td>5.0</td>
            <td>3.0</td>
            <td>4.0</td>
            <td>6.5</td>
        </tr>
    </table>
    <style>
        table, th, td {
           border: 1px solid black;
           border-collapse: collapse;
        }
        th, td {
            padding: 5px 10px;
        }
        th {
            background-color: rgb(21, 4, 98);
            color: white;
        }

    </style>


</html>