body {
background-color: grey;
}
.button_apagar{
    type:button_apagar
    width: 10px;
    height: 20px;
    background-color: blue;
}

.button_pronto{
    background-color:red;
}
.forms_email{
    box:red;
    color:red;
    font-family: Helvetica;
}
