

body {
background-color: grey;
color: black;
font-family: Impact, fantasy;
}



.forms_nome{
    color:black;
    font-family: ;
}
.forms_email{

    color:black;
    font-family: ;
}
.button_pronto{
    button-color:#142738;
    position:fixed;
    margin: 10px;
    left: 60px;
    top: 100px;
}
.button_apagar{
    position:fixed;;
    margin: 10px;
    top:  30px;
    left: 120px;
    top: 100px;

}